rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in any collection
    match /{document=**} {
      // Check if the user is logged in (request.auth.uid is not null)
      allow read, write;
    }
  }
}