<div class="container">
  <div class="card-container">  
    <h2>Rare Metals</h2>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="rareMetalsForm" (ngSubmit)="onSubmit()">
          <div class="form-field">
            <mat-form-field>
              <mat-label>Gold Price (1 oz)</mat-label>
              <input matInput formControlName="goldPricePerOunce" readonly [value]="currencyPipe.transform(goldPricePerOunce, 'AUD', 'symbol-narrow')" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Amount of Goldounces</mat-label>
              <input matInput formControlName="goldAmountOunces" type="number" min="0" step="any" />
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field>
              <mat-label>Silver Price (1 kg)</mat-label>
              <input matInput formControlName="silverPricePerKilo" readonly [value]="currencyPipe.transform(silverPricePerKilo, 'AUD', 'symbol-narrow')"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Amount of silverkilos</mat-label>
              <input matInput formControlName="silverAmountKilos" type="number" min="0" step="any" />
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-content>
        <form [formGroup]="totalBuyInForm" (ngSubmit)="onSubmitBuyIn()">  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Total Buy in Amount in AUD</mat-label>
            <input matInput formControlName="totalBuyIn" [value]="currencyPipe.transform(totalBuyIn, 'AUD', 'symbol-narrow')" />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-content>
        <p>Total Purchase Price in AUD: {{ totalBuyIn | number:'1.2-2' }}</p>
        <p>Total value rare-metals in AUD: {{ totalValue | number:'1.2-2' }}</p>
        <p>Total profit Rare Metals in AUD: {{ totalValue - totalBuyIn  | number:'1.2-2' }}</p>
        <button mat-raised-button color="primary" (click)="onRefreshSpotPrices()">Get Latest Spot Prices</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>